/* General styles */
body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

p {
    border-radius: 33px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1000;
}

/* Add black outline to all text */
body,
.navbar,
.nav-button,
.nav-button:hover,
h1,
p {
    text-shadow: 2px 2px 2px #000000;
}

/* Navbar styling */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.915);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 0;
    flex-direction: row;
    z-index: 1000;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
}

.nav-title h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

#linkColor {
    color: white;
}

/* Nav button styles */
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    cursor: pointer;
}

.nav-button:hover,
#linkColor:hover {
    background-color: transparent;
    color: rgb(4, 139, 168);
    text-shadow: none;
    transform: scale(1.1);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 160px;
    z-index: 1000;
    border-radius: 5px;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    color: rgb(4, 139, 168);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Container styles */
.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 275px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.container#sidePage {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    text-align: left;
    top: 120px;
    width: 90%;
    z-index: 500;
    padding-bottom: 20px;
}

.container::-webkit-scrollbar {
    display: none;
}

.container#contact,
.container#mainPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.games {
    margin-top: 100px;
    max-height: calc(100vh - 275px);
    overflow-y: auto;
}

.section {
    margin-top: 40px;
    margin-bottom: 40px;
}

#contact {
    margin-bottom: 40px;
}

/* Game item styles */
.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.game-item a.nav-button {
    text-align: center;
    margin-bottom: 10px;
}

.game-item p {
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

/* Form styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    outline: black;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000000e2;
    color: white;
}

button[type="submit"] {
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: rgb(4, 139, 168);
}

/* Typography */
h1 {
    color: white;
    background-color: transparent;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    font-size: 6vw;
    transition: transform 0.5s ease;
}

.colored-word {
    color: rgb(4, 139, 168);
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000e8;
    color: white;
    text-align: center;
    padding: 5px 0;
    z-index: 1000;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(4, 139, 168);
    transform: scale(1.1);
}

#copy {
    font-size: 12px;
}

/* Star styles---------------------------------------------------*/
.star,
.rare-star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -999;
}

.star {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    opacity: 1;
    animation: fall linear infinite;
}

.rare-star {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), inset 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    animation: fall-rare linear infinite, spin var(--spin-speed, 200s) linear infinite;
}

.rare-star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/noise.png');
    opacity: 0.1;
    clip-path: circle(50% at center);
}

/* Keyframes */
@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes fall-rare {
    0% {
        top: -300px;
    }

    100% {
        top: calc(100vh + 300px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(calc(360deg * var(--direction)));
    }
}

/*--------------------------------------------------------------*/
/* Media Query for larger screens */
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .nav-title h1 {
        font-size: 3rem;
    }

    .nav-button {
        font-size: 1.5rem;
        margin: 0 5px;
    }

    .container {
        margin-top: 50px;
    }
}

/* Calendar Styles */
#calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

#calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

}

#calendar-header button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: 1px solid white;

}

#calendar-header button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#calendar-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    outline: 1px solid rgba(255, 255, 255, 0.681);
    border-radius: 7px;
    padding: 2px 5px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 400px;
    outline: 1px solid rgba(255, 255, 255, 0.681);
    border-radius: 7px;
}

.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    color: white;
    outline: 1px solid rgba(255, 255, 255, 0.681);
    border-radius: 7px;
}

.calendar-day:hover {
    background-color: rgba(4, 138, 168, 0.252);
}

.calendar-day--selected {
    background-color: rgba(4, 139, 168, 0.5);
}